html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2em;
  color: #000;
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 0) 1.04%,
    #f5f5f5 100%
  );
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1200px;
  margin: 44px auto 0px auto;
  padding: 0px 15px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.serch_input {
  width: 690px;
  max-height: 40px;
  padding: 9px 0px;
  margin: 0px 10px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  font-size: 16px;
  line-height: 20px;
  background: url(../img/home.svg) no-repeat left 11px top 9px;
  padding-left: 32px;
}

.but {
  border-radius: 2px;
  padding: 8px 16px 8px 36px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.login_but {
  max-width: 96px;
  margin-right: 5px;
  border: 1px solid #1890ff;
  color: #fff;
  background: #1890ff url(../img/user.svg) no-repeat left 16px center;
}

.login_but:hover {
  background: #0f5ca4 url(../img/user.svg) no-repeat left 16px center;
}

.cart_but {
  border-radius: 2px;
  padding: 8px 16px 8px 36px;
  max-width: 113px;
  background: #fff url(../img/cart.svg) no-repeat left 16px center;
  border: 1px solid #d9d9d9;
  color: #595959;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
}

.cart_but:hover {
  background: rgb(215, 208, 208) url(../img/cart.svg) no-repeat left 16px center;
}

/*header media*/

@media screen and (max-width: 1094px) {
  .serch_input {
    width: 390px;
  }
}
@media screen and (max-width: 794px) {
  .serch_input {
    width: 190px;
  }
}
@media screen and (max-width: 594px) {
  header {
    display: block;
    max-width: 360px;
    margin: 0 auto;
  }
  .serch_input {
    width: 220px;
    display: inline-block;
    margin: 0px;
  }
  .buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
}

/* ad block styles start*/
.ad {
  background: #fff1b8 url(../img/ad-pic.png) no-repeat top -20px right -100px/800px;
  border-radius: 10px;
  display: flex;
  margin-bottom: 56px;
}
.ad_text {
  max-width: 538px;
  padding: 68px 0px 68px 70px;
}
.ad_title {
  font-weight: 700;
  font-size: 39px;
  line-height: 46px;
  color: #302c34;
  margin-bottom: 15px;
}

.ad_subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #302c34;
}

/*ad block styles end*/

/* rest_cards styles start*/
.rest_heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}

.rest_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}
.rest_search {
  width: 306px;
  max-height: 34px;
  padding: 8px 0px;
  padding-left: 32px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  font-size: 16px;
  line-height: 20px;
  background: url(../img/search.svg) no-repeat left 10px top 11px;
}
/*cards styles*/

.r_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.r_card {
  max-width: 384px;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  margin-bottom: 30px;
}

.card_caption {
  padding: 21px 24px 35px 24px;
}

.child_cap {
  display: flex;
}

.top_cap {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.card_name {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}
.card_time {
  font-family: "SF Pro Display";
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  padding: 1px 8px;
  margin: 6px 0;
  background: #262626;
  border-radius: 2px;
}

.card_rating {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #ffc107;
  margin-right: 26px;
  padding-left: 22px;
  background: url(../img/rating-pic.png) no-repeat top 7px left;
}

.pr_cat {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #8c8c8c;
}
.card_category {
  padding-left: 25px;
  background: url(../img/card_category-dot-pic.png) no-repeat left 10px center;
}

/*rest card styles end*/

/*footer styles start*/
footer {
  background: #fff;
}
.footer_wrap {
  display: flex;
  justify-content: space-between;
  padding: 60px 15px;
  max-width: 1200px;
  margin: 0 auto;
}
nav {
  flex: 2;
}
.footer_info {
  max-width: 420px;
  display: flex;
  justify-content: space-between;
  padding: 6px 0px;
}
.info_link {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #595959;
}

.info_link:hover {
  color: #929090;
}

.logo_link {
  margin-right: 35px;
}

.media_link {
  margin-right: 21px;
}

.media_link:last-child {
  margin-right: 0px;
}
